.disclaimer {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

/* Main Container */
html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*:focus {
    outline: none;
}

ul, ol {
    list-style: none;
}

button {
    cursor: pointer;
    box-shadow: none;
    outline: none;
    background-color: transparent;
}

a {
    color: inherit;
    transition: all linear .3s;
}

img {
    max-width: 100%;
    height: auto;
}

.main_container {
    display: block;
    position: relative;
    overflow: hidden;
}

.inner_block {
    min-height: 600px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    position: relative;
    padding: 3rem;
}

span.choose {
    color: #555;
    padding: 5px 0 10px;
    display: inherit;
    font-size: 1.4rem;
    text-transform: capitalize;
}

.block_container {
    display: block;
}

/*Styling Select Box */

.dropdown {
    width: 300px;
    display: inline-block;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: fit-content;
    text-align: left
}

.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px;
    text-transform: capitalize;
}

.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}

.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}

.dropdown:active {
    background-color: #f8f8f8
}

.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
    background-color: #f8f8f8
}

.dropdown.active .select > i {
    transform: rotate(-90deg)
}

.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}

.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
}

.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}

.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}

.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}

.block_btn {
    width: 100%;
    margin-top: 3rem;
    text-align: center;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-3 {
    background: rgb(0, 172, 238);
    background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    margin-top: 3.3rem;

}

.btn-3:disabled {
    opacity: .6;
    cursor: not-allowed;


}

.btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-3:before,
.btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
}

.btn-3:before {
    height: 0%;
    width: 2px;
}

.btn-3:after {
    width: 0%;
    height: 2px;
}

.btn-3:not(:disabled):hover {
    background: transparent;
    box-shadow: none;
}

.btn-3:not(:disabled):hover:before {
    height: 100%;
}

.btn-3:not(:disabled):hover:after {
    width: 100%;
}

.btn-3:not(:disabled) span:hover {
    color: rgba(2, 126, 251, 1);
}

.btn-3:not(:disabled) span:before,
.btn-3:not(:disabled) span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
}

.btn-3:not(:disabled) span:before {
    width: 2px;
    height: 0%;
}

.btn-3:not(:disabled) span:after {
    width: 0%;
    height: 2px;
}

.btn-3:not(:disabled) span:hover:before {
    height: 100%;
}

.btn-3:not(:disabled) span:hover:after {
    width: 100%;
}


#page-two, #page-three {
    display: none;
}

.seconds-timer {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
    text-transform: capitalize;
    text-align: center;
}

.main-timer {
    font-size: 2rem;
    font-weight: 400;
    position: absolute;
    top: 2rem;
    right: 3rem;
    text-transform: capitalize;
}

.feedback {
    font-size: 1.5rem;
    font-weight: 400;
    position: absolute;
    bottom: 2rem;
    right: 3rem;
    text-transform: capitalize;
}



.thanks_text {
    font-size: 3rem;
    font-weight: 400;
    text-transform: capitalize;
}

.main-timer.topbar-text {
    bottom: unset;
    top: 2rem;
}

.page-title {
    font-size: 3rem;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 2rem;
}

.page-sub-title {
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 2rem;
}


@media (max-width: 820px) {
    .inner_block {
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .page-title {
        font-size: 2rem;
    }

    .page-sub-title {
        font-size: 1.5rem;
    }    

    .main-timer {
        font-size: 1.5rem;
    }

    .btn-3 {
        margin-top: 0;
    }
}

@media (max-width: 500px) {
    .dropdown {
        width: 250px;
    }

    /*.inner_block {*/
    /*    min-height: 300px;*/
    /*    height: 100vh;*/
    /*    max-height: 600px;*/
    /*}*/
}